@model proyectoFinal.Models.Recetum

@{
    ViewData["Title"] = "Borrar receta";
}

<h2>Borrar</h2>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombrePaciente)
        </dd>
        <dt class="col-sm-2">
            Apellidos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaciente)
        </dd>
        <dt class="col-sm-2">
           Telefono
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoPaciente)
        </dd>
        <dt class="col-sm-2">
            Direccion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DireccionPaciente)
        </dd>
        <dt class="col-sm-2">
           Fecha
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            Doctor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreDoctor)
        </dd>
        <dt class="col-sm-2">
            Medicamentos
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicamentos)
        </dd>
    </dl>

    <form asp-action="Delete" class="d-flex gap-3 align-items-center">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
